<h1><%= @message %></h1>
<a target="_blank" href="https://twitter.com/intent/tweet?url=http://localhost:3000/true&text=私は仕事を<%= @message %>人間です">
  <img src="https://tomoki69386.github.io/image/Twitter_Social_Icon_Circle_Color.png">
</a>